.nav{
 display: flex;
 width: 100%;
}
.nav-mobile li a {
  color: white;
  text-decoration: none;
}
.nav-mobile li a:hover {
 color: #dcedfa;
}
.nav-mobile{
  border: 2px solid rgba(5, 43, 255, 0.2);
  display: none;
  font-size: 1.3em;
  list-style: none;
  width: 100%;
  padding: 17px;
  line-height: 2.3;
}

.listShow{
  display: block;
  position: fixed;
  right: 0px;
  background-color: rgba(144, 158, 244, 0.8);
  z-index: 50;
  margin: 0;
  width: 100%;
  animation: fall-down 1s;
  top: 17%;
}

@keyframes fall-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.sideNav-desktop {
  display: none;
}

@media (min-width: $size-media-query-tablet){

.sideNav-desktop{
  display: flex;
  justify-content: space-around;
  width: 90%;
  font-size: 1.5em;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 0;
  border-radius: 8px;
  list-style: none;
}
.sideNav-desktop a:hover {
  color: #00bcd4;
  text-decoration: none;
}

.nav-mobile{
  display: none;
}

.cards-container{
position: relative;
text-align: center;
}
}
