*{
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 960px;

}

.content{
  display:flex;
}

h1,
h2,
h3,
p{
  margin:0;
  font-size: 18px;
  text-align: center;
}

.box{
  padding: 8px;
}

.column{
  width: 25%;
}

.column-1{
  width: 50%;
}

.header{
  background-color: red;
}

  .aside-1{
    background-color: yellow;
  }

  .article{
    background-color: blue;
  }

  .aside-2{
    background-color: pink;
  }

  .footer{
    background-color: green;
  }
